---
import MoonIcon from "./icons/Moon.astro"
import SunIcon from "./icons/Sun.astro"
---

<div class="relative  w-12 mr-2 align-middle select-none transition duration-200 ease-in">
  <input type="checkbox" id="theme-toggle" class="absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"/>
  <label for="theme-toggle" class="block overflow-hidden h-6 rounded-full bg-yellow-500 cursor-pointer">
    <MoonIcon id="theme-toggle-dark-icon" class="absolute left-1 top-1 hidden w-4 h-4 text-gray-600 dark:text-gray-200" />
    <SunIcon id="theme-toggle-light-icon" class="absolute right-1 top-1 hidden w-4 h-4 text-gray-600 dark:text-gray-200" />
  </label>
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    const themeToggleButton = document.getElementById('theme-toggle');
    const darkIcon = document.getElementById('theme-toggle-dark-icon');
    const lightIcon = document.getElementById('theme-toggle-light-icon');

    // Load theme from local storage
    if (localStorage.getItem('theme') === 'dark' || 
        (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
      if (lightIcon) {
        lightIcon.classList.remove('hidden');
      }
    } else {
      if (darkIcon) {
        darkIcon.classList.remove('hidden');
      }
    }

    if (themeToggleButton) {
      themeToggleButton.addEventListener('click', () => {
      // Toggle icons
      if (darkIcon) {
        darkIcon.classList.toggle('hidden');
      }
      if (lightIcon) {
        lightIcon.classList.toggle('hidden');
      }

      // If set via local storage previously
      if (localStorage.getItem('theme')) {
        if (localStorage.getItem('theme') === 'light') {
          document.documentElement.classList.add('dark');
          localStorage.setItem('theme', 'dark');
        } else {
          document.documentElement.classList.remove('dark');
          localStorage.setItem('theme', 'light');
        }

      // If NOT set via local storage previously
      } else {
        if (document.documentElement.classList.contains('dark')) {
          document.documentElement.classList.remove('dark');
          localStorage.setItem('theme', 'light');
        } else {
          document.documentElement.classList.add('dark');
          localStorage.setItem('theme', 'dark');
        }
      }
    });
    }
    
  });
</script>

<style>
  input:checked + label {
    background-color: #1B1F38;
  }

  input:checked + label .moon {
    transform: translateX(6px);
  }

  input:checked + label .sun {
    transform: translateX(-6px);
  }

  .moon,
  .sun {
    transition: transform 0.2s;
  }
</style>